<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SpringView</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
<!--   특수문자를 사용할 수 있도록 지정하는 코드. true로 지정되면 커스텀태그나 velocity매크로는 특수문자가 reference로 치환됨-->
  <context-param>
  	<param-name>defaultHtmlEscape</param-name>
  	<param-value>false</param-value>
  </context-param>
  
  
  <servlet>
  	<servlet-name>dispatcherInternal</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>dispatcherInternal</servlet-name>
  	<url-pattern>/jsp/*</url-pattern>
  </servlet-mapping>
  
<!-- 한글 인코딩을 설정하는 filter -->  
  <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>EUC-KR</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
<!-- put과 delete를 이용하기 위해 설정 -->  
	<filter>
		<filter-name>httpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>httpMethodFilter</filter-name>
		<servlet-name>dispatcherInternal</servlet-name>
		<servlet-name>dispatcherTiles2</servlet-name>
	</filter-mapping>
  
  
  <servlet>
  	<servlet-name>dispatcherTiles2</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>dispatcherTiles2</servlet-name>
  	<url-pattern>/tiles2/*</url-pattern>
  </servlet-mapping>
  
<!-- file Download를 위한 설정 -->  
	<servlet>
		<servlet-name>dispatcherNonHtml</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>dispatcherNonHtml</servlet-name>
		<url-pattern>/download/*</url-pattern>
	</servlet-mapping>
  
  
</web-app>